/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
}



.embla {
  @apply relative;
}

.embla__viewport {
  @apply overflow-hidden w-auto;
}

.embla__viewport.is-draggable {
  @apply cursor-move;
}

.embla__viewport.is-dragging {
  @apply cursor-grabbing;
}

.embla__container {
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  will-change: transform;

  @apply text-center h-screen;
}

.embla__slide {
  @apply relative overflow-hidden;
  height: auto;
  min-height: calc(25vh + 5vw);
}

.embla__slide__inner {
  @apply relative overflow-hidden h-full mx-auto;
}

.embla__slide__inner__inner {
  @apply overflow-hidden relative;
}

.embla__slide:hover {
  .embla__slide__img {
    @apply scale-[1.1];
  }
}

.embla__slide__img {
  @apply w-full transition-transform ease-in-out duration-300 scale-[1.02];
}

.embla__slide:first-of-type {
  .embla__slide__img {
    @apply w-[80%];
  }
}

.embla__slide:nth-of-type(2) {
  .embla__slide__img {
    @apply w-[60%];
  }
}

.embla__slide:nth-of-type(3) {
  .embla__slide__img {
    @apply w-[90%];
  }
}

.embla__slide:nth-of-type(4) {
  .embla__slide__img {
    @apply w-[50%];
  }
}

.embla__slide:nth-of-type(5) {
  .embla__slide__img {
    @apply w-[70%];
  }
}